
.navBar {
  height: 5vmax;
  background-color: #060b27;
  display: flex;
  justify-content: space-between;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-top: 0.5vh;
  box-shadow: 0px 3px #151934;
}

.logo {
  margin: 0.5vh 0vw;
  border-radius: 50%;
}

.tabs {
  padding: 1.5% 0;
  display: flex;
  justify-content: space-between;
}

.tab {
  margin: 0vh 2vw;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5vw;
  transition: color 0.3s;
}

.tab:hover {
  color: #8f9bb7;
}

.name {
  color: #ffffff;
  font-size: 3vw;
  padding: 0% 10%;
  font-weight: bold;
}
.logoClass {
  display: flex;
}
.btn {
  margin: 1% 0;
  width: 10%;
  height: 50%;
  background-color: #7214ff;
  border-radius: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: #9e5ffd;
}
.btnTxt {
  color: #ffffff;
  font-size: 1.3vw;
  font-weight: 500;
}
